.Tasks{
    display: flex;
}
.div_refuelBtn{
    background-color: #0078d4;
    flex: 1;
    margin: 7px;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.div_oilBtn{
    background-color: #217346;
    flex: 1;
    padding: 7px;
    margin: 7px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.fuelBtn{
    width: 59px;
    height: auto;
}

.serviceBtn{
    width: 48px;
    height: auto;
}