.Header{
    background-color: black;
    color: white;   
    display: flex;
}

.yob{
    flex: 1;
    align-self: center;
    font-weight: bold;
    font-size: .9rem;
}

.brand{
    flex:1;
    font-size: 2.3rem;
    font-weight: bolder;
}

.model{
    flex:1;
    align-self: center;
    font-weight: bold;
    font-size: .9rem;
}