.Refuel{
    width: 80%;
    margin: auto;
    margin-top: 18px;
    display: flexbox;
    text-align: left;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.back{
    cursor: pointer;
    width: 55px;
    height: auto;
}

.gas{
    width: 65px;
    height: auto;
    float: right;
}

.btn{
    margin-top: 1.2rem;
}

.toggle{
    margin-top: .9rem;
}

